

a{
	text-decoration: none;
	color: white;
	padding: 10px;
}
p{
  color: gray;
}

.amarillo{
	width: 100%;
	height: 500px;
	background-color: #fcce09;
}
#lab {
 text-align: center;
 color: white;
 font-size: 30px;
 position: relative;
 top: 200px;
}
#lab1{
 text-align: center;
 color: white;
 position: relative;
 top: 190px;
}
.button {
    background-color: #fcba43;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
    left: 40px;
   }

/*section*/
.plomo{
	background-color: #eaeae9;
  height: 1200px;
}
.cajita{
  border: 1px solid white;
  background-color: white;
  height: 550px;
  margin: 30px;
}
.tres{
   text-align: center;
   margin-top: 20px;
}
/*textooooo*/
#ejem{
  text-align: left;
  padding-left: 20px;
  color: gray;
}
.button2{
  background-color: #fcba43;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
  text-align: center;
}
/*pie de página*/
.pie{
  border: 1px solid red;
  height: 80px;
  background: #262624;
}
